body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.has{
  padding: 20px;
  margin:260px 340px;
   width: 65%;
  height: 240px;
}

.content-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.address-card{
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 48%;
  height: 240px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.payment-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 48%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.payment-card .row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.discount span:last-child {
  color: red;
}

.total {
  font-weight: bold;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background: #3f4a49;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

.add-address-wrapper {
  margin-top: 20px;
  text-align: center;
}

.add-address-btn {
  padding: 10px 20px;
  background: #3f4a49;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 220px;
}

/* Modal */

.modal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
  transition: 0.4s ease;
  z-index: 1000;
}

.modal.active {
  top: 0;
}

.modal-content {
  background: white;
  width: 100%;
  max-width: 500px;
  margin-top: 240px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  animation: slideDown 0.4s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-btn {
  padding: 10px;
  background: #3f4a49;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 768px) {
  .address-card,
  .payment-card {
    width: 100%;
  }

  .modal-content {
    margin-top: 20px;
    border-radius: 0;
    height: 100%;
  }
}

.lock{
    margin-top: 360px;
}
